@model Nop.Plugin.Customers.NopChat.Models.NopChatMessageModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<div class="cards-group">
    <div class="card card-default card-popup">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-3">
                    <nop-label asp-for="Message" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Message" />
                    <span asp-validation-for="Message"></span>
                </div>
            </div>
            
        </div>
    </div>
</div>
<nop-alert asp-alert-id="getStatesByCountryIdAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />